.fullpage {
  height: 100vh;
}

.contador {
  color: green;
  font-size: 50px;
  margin: 20px;
}

button {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #ccc;
  box-shadow: 0 3px 10px #ccc;
}
