.flex {
  display: flex;
  margin: 15px;
}

.item {
  background-color: rgb(135, 229, 43);
  border: 5px solid black;
  height: 100px;
  width: 100px;
  margin: 10px;
  box-sizing: border-box;
}

.big {
  flex-grow: 2;
  margin-left: 50px;
  margin-right: 50px;
}

.big2 {
  flex-grow: 5;
}

.middle {
  flex-grow: 1;
}

* {
  margin: 0;
}
