.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.button {
  color: white;
  background-color: grey;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  padding: 10px;
}

.imagen {
  width: 300px;
}
